body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  position: relative;
  width: 320px;
  height: 640px;
}

#buttons-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: absolute;
  width: 70px;
  height: 70px;
  background: transparent;
  border: none;
  cursor: pointer;
}
